@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  /*texto*/
  --span-color: #0096c7;
  --span2-color: #90e0ef;
  --h1-color: #141b79;
  --h11-color: #4398f8;
  --p-color: #03045e;
  --p2-color: #0b0a13;

  /*botões*/
  --btn1-color: #023e8a;
  --btn2-color: #6ad2e7;

  /*background*/
  --bg-color: #f4effa;

  /*header e outras coisas*/
  --header-color: #f4effa;
  --miniheader-color: #ade8f4;
}

/* navbar */
.nav {
  height: 50px;
  width: 100%;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.navbar-brand .image {
  max-width: 150px;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: var(--btn1-color);
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;

  color: var(--btn1-color);
}

.nav > .nav-links > a:hover {
  color: var(--btn2-color);
  border-radius: 10px;
  transition: 0.5s;
}

.h2-text {
  align-items: center;
  text-align: center;
}

.nav > #nav-check {
  display: none;
}

/*fim - navbar*/

/*mini header*/
.mini-header {
  padding-top: 2px;
  width: 100%;
  height: 34px;
  text-align: center;
  background-color: var(--miniheader-color);
}

.img-header {
  max-width: 24px;
}

/*------------- global ------------*/

body,
header {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: var(--p2-color);
  overflow-x: hidden;
  max-width: auto;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------- página -----------*/

.container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
}

.item {
  margin: 30px;
  text-align: center;
  width: 30%;
}

/*formulário*/
.form {
  align-items: center;
  background-color: var(--span-color);
  padding: 10px;
  height: auto;
  border-radius: 10px;
  color: var(--p-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.item1,
.item2,
.item3,
.error,
.item5 {
  margin: 5px;
}

input {
  width: 90%;
  margin: 10px;
  height: 35px;
  border-radius: 5px;
}

.error,
.error2 {
  color: rgb(252, 63, 63);
  display: none;
}

.btn,
.btn2 {
  width: 50%;
  border-color: var(--btn1-color);
  background-color: var(--btn2-color);
  border-radius: 30px;
  height: 40px;
  border: none;
  color: var(--bg-color);
}

button {
  font-family: "Poppins", sans-serif;
}

.btn:hover,
.btn2:hover {
  border: none;
  border-color: var(--btn2-color);
  background-color: var(--btn1-color);
  color: var(--header-color);
  cursor: pointer;
}

.item5,
.btn2 {
  display: none;
}

/*footer*/
footer {
  height: 260px;
  padding: 20px;
  width: 100%;
  background-color: var(--btn1-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  text-align: center;
  color: var(--bg-color);
}

.footer-info {
  color: var(--bg-color);
}

.footer-link {
  text-decoration: none;
  color: var(--btn2-color);
}

.contato-info {
  color: var(--span2-color);
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
