@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  /*texto*/
  --span-color: #0096c7;
  --span2-color: #90e0ef;
  --h1-color: #141b79;
  --h11-color: #4398f8;
  --p-color: #03045e;
  --p2-color: #0b0a13;

  /*botões*/
  --btn1-color: #023e8a;
  --btn2-color: #6ad2e7;

  /*background*/
  --bg-color: #f4effa;

  /*header e outras coisas*/
  --header-color: #f4effa;
  --miniheader-color: #ade8f4;
}

/* ----------- global ---------------- */

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: var(--p2-color);
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--p2-color);
  margin: 0;
}

span {
  display: contents;
  color: var(--span-color);
}

/* ----------- global ---------------- */
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: var(--p2-color);
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*img*/
img {
  border-radius: 90%;
  width: 90px;
}

/*config. texto*/
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h3,
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

h5 {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 17px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--p2-color);
  margin: 0;
}

span {
  display: contents;
  color: var(--span-color);
}

/* navbar */
.nav {
  height: 50px;
  width: 100%;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: var(--btn1-color);
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;

  color: var(--btn1-color);
}

.nav > .nav-links > a:hover {
  color: var(--btn2-color);
  border-radius: 10px;
  transition: 0.5s;
}

.h2-text {
  align-items: center;
  text-align: center;
}

.nav > #nav-check {
  display: none;
}

/*fim - navbar*/

/*mini header*/
.mini-header {
  padding-top: 2px;
  width: 100%;
  height: 34px;
  text-align: center;
  background-color: var(--miniheader-color);

}

.img-header{
  max-width: 24px;
}

/*depoimentos*/
.figure {
  width: 100%;
  height: 500px;
  display: flex;
  padding: 20px;
}

figure.testimonial {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  margin: 10px;
  min-width: 200px;
  max-width: 480px;
  height: 160px;
  width: 100%;
  color: var(--p2-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.473);
  margin-left: 6rem;
}

figure.testimonial * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

figure.testimonial img {
  float: right;
  max-width: 40%;
}

figure.testimonial figcaption {
  top: 0;
  bottom: 0;
  left: 0;
  width: 60%;
  position: absolute;
  border-radius: 8px 0 0 8px;
}

figure.testimonial blockquote {
  position: relative;
  padding: 25px 50px 25px 50px;
  font-size: 0.8em;
  font-weight: 500;
  text-align: left;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}

figure.testimonial blockquote:before,
figure.testimonial blockquote:after {
  font-family: "FontAwesome";
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
  color: var(--btn1-color);
}

figure.testimonial blockquote:before {
  top: 25px;
  left: 20px;
}

figure.testimonial blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0px;
}

figure.testimonial.arrow {
  top: 30px;
  left: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid var(--btn1-color);
  margin: 0;
  position: absolute;
}

figure.testimonial .author {
  position: absolute;
  top: 100%;
  width: 60%;
  padding: 10px 15px;
  color: var(--btn1-color);
  margin: 0;
  text-transform: uppercase;
}

figure.testimonial .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}

figure.testimonial .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}

.img {
  margin-right: 10px;
}

.testimonial-text {
  text-align: center;
  padding: 50px;
  font-size: 50px;
  color: var(--h1-color);
}
/*final dos depoimentos*/

/*newsletter*/
.newsletter {
  display: flex;
  background-color: var(--miniheader-color);
  width: 70%;
  padding: 4rem;
  margin: auto;
  /* this margin is for this visualization */
}

.newsText {
  color: var(--btn1-color);
  text-align: right;
  width: 45%;
  margin: auto;
}

.newsText h1 {
  font-weight: 600;
}

.newsText img {
  width: 90%;
  margin-top: 1rem;
}

.newsSign {
  background-color: #f1f1f688;
  width: 25%;
  margin: auto;
  padding: 4rem;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: var(--btn1-color);
  font-size: 1rem;
}

.input-field {
  position: relative;
  margin-bottom: 1rem;
  color: var(--btn1-color);

}

input {
  background-color: #f1f1f6;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.9rem;
  border: none;
  border-bottom: 2px solid var(--btn2-color);
  font-size: 0.9rem;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0 5px;
}

input:focus {
  outline: none;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid var(--span-color);
}

button {
  background: linear-gradient(to left, #525cee, #2264df);
  color: #f9f9f9;
  font-size: 0.9rem;
  font-weight: 600;
  width: 50%;
  padding: 0.4rem;
  margin: auto;
  margin-top: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*fim - newsletter*/

/*footer*/
footer {
  margin-top: 5rem;
  height: 250px;
  width: 100%;
  background-color: var(--btn1-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer {
  text-align: center;
  color: var(--bg-color);
}

.footer-info {
  color: var(--bg-color);
}

.footer-link {
  text-decoration: none;
  color: var(--btn2-color);
}

.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  gap: 10px 40px;
  margin-left: 37rem;
}

.contato-info {
  color: var(--span2-color);
}
